vendor_boot.img filter=lfs diff=lfs merge=lfs -text
boot.img filter=lfs diff=lfs merge=lfs -text
system_ext/priv-app/Settings_new/Settings_new.apk filter=lfs diff=lfs merge=lfs -text
product/priv-app/Phonesky/Phonesky.apk filter=lfs diff=lfs merge=lfs -text
product/priv-app/Velvet/Velvet.apk filter=lfs diff=lfs merge=lfs -text
product/priv-app/GoogleDialer/GoogleDialer.apk filter=lfs diff=lfs merge=lfs -text
product/priv-app/Messages/Messages.apk filter=lfs diff=lfs merge=lfs -text
product/priv-app/GmsCore/GmsCore.apk filter=lfs diff=lfs merge=lfs -text
product/app/TrichromeLibrary/TrichromeLibrary.apk filter=lfs diff=lfs merge=lfs -text
product/app/Meet/Meet.apk filter=lfs diff=lfs merge=lfs -text
product/app/Maps/Maps.apk filter=lfs diff=lfs merge=lfs -text
product/app/LatinImeGoogle/LatinImeGoogle.apk filter=lfs diff=lfs merge=lfs -text
product/app/YouTube/YouTube.apk filter=lfs diff=lfs merge=lfs -text
product/app/Gmail2/Gmail2.apk filter=lfs diff=lfs merge=lfs -text
product/app/SpeechServicesByGoogle/SpeechServicesByGoogle.apk filter=lfs diff=lfs merge=lfs -text
product/app/WebViewGoogle/WebViewGoogle.apk filter=lfs diff=lfs merge=lfs -text
product/app/Photos/Photos.apk filter=lfs diff=lfs merge=lfs -text
boot/boot.img-elf filter=lfs diff=lfs merge=lfs -text
system/system/apex/com.google.android.art.apex filter=lfs diff=lfs merge=lfs -text
vendor/etc/models/noahark/gesture/tsn_gesture filter=lfs diff=lfs merge=lfs -text
vendor/lib/libsprdfaceid.so filter=lfs diff=lfs merge=lfs -text
vendor/lib64/libsprdfaceid.so filter=lfs diff=lfs merge=lfs -text
