on post-fs
    insmod ${ro.vendor.ko.mount.point}/socko/fortsense_fp.ko

on factorytest
    insmod ${ro.vendor.ko.mount.point}/socko/fortsense_fp.ko

on boot
#add for sunwave fingerprint
    chmod 666 /dev/fortsense_fp
    chown system system /dev/fortsense_fp
    chmod 666  /dev/trusty-ipc-dev0
    chown system system   /dev/trusty-ipc-dev0

on factorytest-start
	chmod 666 /dev/fortsense_fp
    chown system system /dev/fortsense_fp
    chmod 666 /dev/trusty-ipc-dev0
    chown system system /dev/trusty-ipc-dev0
